In [1]:
import pandas as pd

In [2]:
stocks_2016= pd.read_csv("stocks_2016.csv")

In [5]:
stocks_2016

  Symbol  Shares  Low  High
0   AAPL      80   95   110
1   TSLA      50   80   130
2    WMT      40   55    70

In [4]:
stocks_2017= pd.read_csv("stocks_2017.csv")

In [6]:
stocks_2017

  Symbol  Shares  Low  High
0   AAPL      50  120   140
1     GE     100   30    40
2    IBM      87   75    95
3    SLB      20   55    85
4    TXN     500   15    23
5   TSLA     100  100   300

In [8]:
pd.concat([stocks_2016,stocks_2017])

  Symbol  Shares  Low  High
0   AAPL      80   95   110
1   TSLA      50   80   130
2    WMT      40   55    70
0   AAPL      50  120   140
1     GE     100   30    40
2    IBM      87   75    95
3    SLB      20   55    85
4    TXN     500   15    23
5   TSLA     100  100   300

In [12]:
pd.concat([stocks_2016,stocks_2017],keys=["2016","2017"],names=["YEAR","ABC"])

         Symbol  Shares  Low  High
YEAR ABC
2016 0     AAPL      80   95   110
     1     TSLA      50   80   130
     2      WMT      40   55    70
2017 0     AAPL      50  120   140
     1       GE     100   30    40
     2      IBM      87   75    95
     3      SLB      20   55    85
     4      TXN     500   15    23
     5     TSLA     100  100   300

In [15]:
stocks_2016.merge(stocks_2017,left_index=True,right_index=True,how='inner')

  Symbol_x  Shares_x  Low_x  High_x Symbol_y  Shares_y  Low_y  High_y
0     AAPL        80     95     110     AAPL        50    120     140
1     TSLA        50     80     130       GE       100     30      40
2      WMT        40     55      70      IBM        87     75      95