** .loc- works with index location
   .iloc- works with integer location

In [1]:
import pandas as pd

In [4]:
college= pd.read_csv("college.csv",index_col='INSTNM')

In [5]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [7]:
college.iloc[2]

CITY                  Montgomery
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       1
SATVRMID                     NaN
SATMTMID                     NaN
DISTANCEONLY                   1
UGDS                         291
UGDS_WHITE                 0.299
UGDS_BLACK                0.4192
UGDS_HISP                 0.0069
UGDS_ASIAN                0.0034
UGDS_AIAN                      0
UGDS_NHPI                      0
UGDS_2MOR                      0
UGDS_NRA                       0
UGDS_UNKN                 0.2715
PPTUG_EF                  0.4536
CURROPER                       1
PCTPELL                   0.6801
PCTFLOAN                  0.7795
UG25ABV                    0.854
MD_EARN_WNE_P10            40100
GRAD_DEBT_MDN_SUPP         23370
Name: Amridge University, dtype: object

In [9]:
college.loc['Amridge University']

CITY                  Montgomery
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       1
SATVRMID                     NaN
SATMTMID                     NaN
DISTANCEONLY                   1
UGDS                         291
UGDS_WHITE                 0.299
UGDS_BLACK                0.4192
UGDS_HISP                 0.0069
UGDS_ASIAN                0.0034
UGDS_AIAN                      0
UGDS_NHPI                      0
UGDS_2MOR                      0
UGDS_NRA                       0
UGDS_UNKN                 0.2715
PPTUG_EF                  0.4536
CURROPER                       1
PCTPELL                   0.6801
PCTFLOAN                  0.7795
UG25ABV                    0.854
MD_EARN_WNE_P10            40100
GRAD_DEBT_MDN_SUPP         23370
Name: Amridge University, dtype: object

In [14]:
college.iloc[2:5,1:2]

                                    STABBR
INSTNM
Amridge University                      AL
University of Alabama in Huntsville     AL
Alabama State University                AL

In [15]:
college.iloc[[1,2,5]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750

In [16]:
college.iloc[[2]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0,0.0,0.2715,0.4536,1,0.6801,0.7795,0.854,40100,23370

In [17]:
## Selecting both rows and columns from a DF in pandas

In [20]:
college.iloc[:1,3:]

,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,...,0.0,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888

In [22]:
columns=['CITY', 'STABBR', 'HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL',
       'SATVRMID', 'SATMTMID']

In [24]:
rows=['Alabama A & M University', 'University of Alabama at Birmingham',
       'Amridge University', 'University of Alabama in Huntsville']

In [25]:
college.loc[rows,columns]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID
INSTNM,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0

In [26]:
college.iloc[:10] 
# is same as college.iloc[:10,:]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,1592.0,...,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127
Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,2991.0,...,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595
Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,4304.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,20514.0,...,0.0000,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831

In [27]:
# Using both index labels and column names

In [32]:
start_index=college.index[5]
finish_index= college.index[11]

In [35]:
college.loc[start_index:finish_index,['WOMENONLY','SATMTMID']]

                                        WOMENONLY  SATMTMID
INSTNM
The University of Alabama                     0.0     565.0
Central Alabama Community College             0.0       NaN
Athens State University                       0.0       NaN
Auburn University at Montgomery               0.0     509.0
Auburn University                             0.0     588.0
Birmingham Southern College                   0.0     560.0
Chattahoochee Valley Community College        0.0       NaN

In [41]:
college[['WOMENONLY','SATMTMID']]

                                                    WOMENONLY  SATMTMID
INSTNM
Alabama A & M University                                  0.0     420.0
University of Alabama at Birmingham                       0.0     565.0
Amridge University                                        0.0       NaN
University of Alabama in Huntsville                       0.0     590.0
Alabama State University                                  0.0     430.0
The University of Alabama                                 0.0     565.0
Central Alabama Community College                         0.0       NaN
Athens State University                                   0.0       NaN
Auburn University at Montgomery                           0.0     509.0
Auburn University                                         0.0     588.0
Birmingham Southern College                               0.0     560.0
Chattahoochee Valley Community College                    0.0       NaN
Concordia College Alabama                                 0.0     400.0
South University-Montgomery                               0.0       NaN
Enterprise State Community College                        0.0       NaN
James H Faulkner State Community College                  0.0       NaN
Faulkner University                                       0.0       NaN
Gadsden State Community College                           0.0       NaN
New Beginning College of Cosmetology                      0.0       NaN
George C Wallace State Community College-Dothan           0.0       NaN
George C Wallace State Community College-Hancev...        0.0       NaN
George C Wallace State Community College-Selma            0.0       NaN
Herzing University-Birmingham                             0.0       NaN
Huntingdon College                                        0.0     490.0
Heritage Christian University                             0.0       NaN
J F Drake State Community and Technical College           0.0       NaN
Jacksonville State University                             0.0     485.0
Jefferson Davis Community College                         0.0       NaN
Jefferson State Community College                         0.0       NaN
John C Calhoun State Community College                    0.0       NaN
...                                                       ...       ...
Strayer University-Lawrenceville                          NaN       NaN
Strayer University-Piscataway                             NaN       NaN
Utah County Campus                                        NaN       NaN
L'esprit Academy - Royal Oak                              NaN       NaN
National Career Institute - Jersey City Branch            NaN       NaN
Strayer University-Cobb Campus                            NaN       NaN
Strayer University-Morrow Campus                          NaN       NaN
Strayer University-Roswell Campus                         NaN       NaN
Strayer University-Douglasville Campus                    NaN       NaN
Strayer University-Lithonia Campus                        NaN       NaN
Strayer University-Savannah Campus                        NaN       NaN
Strayer University-Augusta Campus                         NaN       NaN
Strayer University-Columbus                               NaN       NaN
Strayer University-Columbia Campus                        NaN       NaN
Strayer University-Charleston Campus                      NaN       NaN
Strayer University-Irving                                 NaN       NaN
Strayer University-Katy                                   NaN       NaN
Strayer University-Northwest Houston                      NaN       NaN
Strayer University-Plano                                  NaN       NaN
Strayer University-Cedar Hill                             NaN       NaN
Strayer University-North Dallas                           NaN       NaN
Strayer University-San Antonio                            NaN       NaN
Strayer University-Stafford                               NaN       NaN
WestMed College - Merced                                  NaN       NaN
Vantage College                                           NaN       NaN
SAE Institute of Technology  San Francisco                NaN       NaN
Rasmussen College - Overland Park                         NaN       NaN
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

[7535 rows x 2 columns]

In [47]:
college.loc[:'University of Alabama at Birmingham',:]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5